@{
    ViewData["Title"] = "Carrito";
    ViewData["SubTitle"] = "Compra";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"><a class="text-decoration-none" title="Regresar al listado"
                asp-action="Index">Listado</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
    <h2 class="text-center mb-3">@ViewData["Title"] <small class="text-muted fs-5">@ViewData["SubTitle"]</small></h2>
</nav>

<div class="card p-4 mb-3">
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="rounded bg-warning d-flex justify-content-center align-items-center"
            style="width: 80px; height: 80px;">
            <i class="bi bi-exclamation-triangle-fill text-white" style="font-size: 40px;"></i>
        </div>
    </div>

    <h5 class="text-center fw-bold mb-3">¿Está seguro que desea realizar esta compra?</h5>

    <div class="d-flex justify-content-center gap-2 mt-3">
        <form asp-action="RealizarCompra">
            <button id="btnEnviar" type="submit" class="btn btn-sm btn-primary">Confirmar</button>
        </form>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
    </div>
</div>
